<section class="rev_slider_wrapper fullwidthbanner-container">

<div id="rev_slider_14_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="mdn-home-slider1" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.3.1.6 fullwidth mode -->
	<div id="rev_slider_14_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.3.1.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-58" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="slider/100x50_58207-dbc_crowd_shot_lg2.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="DBC" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<%= image_tag "slider/58207-dbc_crowd_shot_lg2.jpg", alt: "banner", data: {bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat", bgparallax: "off", class: "rev-slidebg" } %>
        <!-- <img src="slider/58207-dbc_crowd_shot_lg2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina> -->
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption     rev_group" 
			 id="slide-58-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['115','115','20','8']" 
			 data-y="['top','top','top','top']" data-voffset="['78','98','89','54']" 
						data-width="335"
			data-height="104"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":710,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; min-width: 335px; max-width: 335px; max-width: 104px; max-width: 104px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
		<!-- LAYER NR. 2 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-58-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['37','37','37','37']" 
			 data-y="['top','top','top','top']" data-voffset="['25','25','25','25']" 
						data-width="['268','244','244','244']"
			data-height="['51','52','52','52']"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;background-color:rgba(231, 189, 21, 1.00);"> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-58-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['48','48','48','48']" 
			 data-y="['top','top','top','top']" data-voffset="['40','40','40','40']" 
						data-fontsize="['20','18','18','18']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Open Sans;">DISCIPLESHIP BOOT CAMP </div>
        </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption     rev_group" 
			 id="slide-58-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['122','122','26','14']" 
			 data-y="['top','top','top','top']" data-voffset="['155','155','143','109']" 
						data-width="532"
			data-height="['256','242','242','242']"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1230,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8; min-width: 532px; max-width: 532px; max-width: 256px; max-width: 256px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
		<!-- LAYER NR. 5 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-58-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']" 
			 data-y="['top','top','top','top']" data-voffset="['27','32','32','32']" 
						data-width="['469','404','404','404']"
			data-height="['202','163','163','163']"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9;background-color:rgba(51, 51, 51, 0.90);"> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-58-layer-7" 
			 data-x="['left','left','left','left']" data-hoffset="['51','51','51','51']" 
			 data-y="['top','top','top','top']" data-voffset="['134','125','125','125']" 
						data-fontsize="['38','32','32','32']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; white-space: nowrap; font-size: 38px; line-height: 22px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:Lato;">Saturday, April 1st </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-58-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['49','49','49','49']" 
			 data-y="['top','top','top','top']" data-voffset="['88','88','88','88']" 
						data-fontsize="['38','32','32','32']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; white-space: nowrap; font-size: 38px; line-height: 22px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:lato;">The Epic Journey </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-58-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['48','48','48','48']" 
			 data-y="['top','top','top','top']" data-voffset="['46','46','46','46']" 
						data-fontsize="['40','34','34','34']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 12; white-space: nowrap; font-size: 40px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Lato;">When I Became A Man... </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-58-layer-8" 
			 data-x="['left','left','left','left']" data-hoffset="['53','51','51','51']" 
			 data-y="['top','top','top','top']" data-voffset="['178','161','161','161']" 
						data-fontsize="['28','24','24','24']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 13; white-space: nowrap; font-size: 28px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Lato;">Special Guest: Darryl Strawberry </div>
        </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption     rev_group" 
			 id="slide-58-layer-10" 
			 data-x="['left','left','left','left']" data-hoffset="['117','117','20','8']" 
			 data-y="['top','top','top','top']" data-voffset="['381','336','323','286']" 
						data-width="335"
			data-height="104"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1700,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 14; min-width: 335px; max-width: 335px; max-width: 104px; max-width: 104px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
		<!-- LAYER NR. 11 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-58-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['35','35','35','35']" 
			 data-y="['top','top','top','top']" data-voffset="['24','24','24','24']" 
						data-width="170"
			data-height="50"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 15;background-color:rgba(255, 255, 255, 1.00);"> </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-58-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['48','48','48','48']" 
			 data-y="['top','top','top','top']" data-voffset="['40','40','40','40']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 16; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Open Sans;">Register Today </div>
        </div>

		<!-- LAYER NR. 13 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-58-layer-17" 
			 data-x="['left','left','left','left']" data-hoffset="['711','581','509','301']" 
			 data-y="['top','top','top','top']" data-voffset="['115','137','167','13']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":2850,"speed":1500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 17;"><%= image_tag "slider/b087f-darryl-strawberry.jpg", alt:"", data: { ww:"['385px','316px','230px','148px']", hh:"['309px','254px','185px','119px']" } %> </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-46" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-link="/vision"   data-thumb="assets/100x50_b16fd-one_million_men_wide_lg_image_only.jpg"  data-delay="9000"  data-rotate="0"  data-saveperformance="off"  data-title="Million_Men" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<%= image_tag "slider/b16fd-one_million_men_wide_lg_image_only.jpg", alt:"", data: { bgposition: "center center", kenburns: "on", duration: "10000", ease:"Linear.easeNone", scalestart:"100", scaleend:"120", rotatestart:"0", rotateend:"0", offsetstart:"0 0", offsetend:"0 0", bgparallax:"10", class: "rev-slidebg" } %>
        <!-- <img src="assets/b16fd-one_million_men_wide_lg_image_only.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
		<!-- LAYERS -->

		<!-- LAYER NR. 14 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-46-layer-11" 
			 data-x="['left','left','left','left']" data-hoffset="['4','29','39','39']" 
			 data-y="['top','top','top','top']" data-voffset="['14','25','31','31']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":2050,"speed":1970,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4660","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;"><%= image_tag "slider/c2a33-one_million_men_txt.gif", alt:"", data: { ww:"['598px','524px','468px','389px']", hh:"['235px','206px','184px','153px']" } %> </div>

		<!-- LAYER NR. 15 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-46-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['890','733','542','340']" 
			 data-y="['top','top','top','top']" data-voffset="['437','446','378','331']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":2050,"speed":1960,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4670","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;"><%= image_tag "slider/6f226-mdn_logo_wh.gif", alt:"", data: { ww: "['222px','222px','171px','115px']", hh: "['83px','83px','64px','43px']" } %> </div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-64" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="/curriculum"   data-thumb="assets/100x50_54239-weapons.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="WEAPONS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <%= image_tag "slider/54239-weapons.jpg", alt:"", data: { bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat", bgparallax: "off", class: "rev-slidebg" } %>
		<!-- LAYERS -->

		<!-- LAYER NR. 16 -->
		<div class="tp-caption     rev_group" 
			id="slide-64-layer-1" 
			data-x="['left','left','left','left']" data-hoffset="['115','115','115','87']" 
			data-y="['top','top','top','top']" data-voffset="['89','98','98','25']" 
			data-width="335"
			data-height="104"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":710,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; min-width: 335px; max-width: 335px; max-width: 104px; max-width: 104px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
		<!-- LAYER NR. 17 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-64-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['37','37','37','37']" 
			 data-y="['top','top','top','top']" data-voffset="['25','25','25','25']" 
						data-width="['249','244','244','244']"
			data-height="['54','52','52','52']"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;background-color:rgba(231, 189, 21, 1.00);"> </div>

		<!-- LAYER NR. 18 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-64-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['48','48','48','59']" 
			 data-y="['top','top','top','top']" data-voffset="['40','40','40','41']" 
						data-fontsize="['20','18','18','18']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Open Sans;">CURRICULUM TRAINING </div>
        </div>

		<!-- LAYER NR. 19 -->
		<div class="tp-caption     rev_group" 
			id="slide-64-layer-9" 
			data-x="['left','left','left','left']" data-hoffset="['122','122','122','21']" 
			data-y="['top','top','top','top']" data-voffset="['155','155','155','85']" 
			data-width="['532','532','532','439']"
			data-height="['256','242','242','241']"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1230,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8; min-width: 532px; max-width: 532px; max-width: 256px; max-width: 256px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
		<!-- LAYER NR. 20 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-64-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']" 
			 data-y="['top','top','top','top']" data-voffset="['27','32','32','32']" 
						data-width="['469','463','463','380']"
			data-height="['202','164','164','165']"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9;background-color:rgba(51, 51, 51, 0.90);"> </div>

		<!-- LAYER NR. 21 -->
		<div class="tp-caption   tp-resizeme" 
			id="slide-64-layer-6" 
			data-x="['left','left','left','left']" data-hoffset="['49','49','49','120']" 
			data-y="['top','top','top','top']" data-voffset="['88','88','88','83']" 
			data-fontsize="['38','32','32','32']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; white-space: nowrap; font-size: 38px; line-height: 22px; font-weight: 300; color: rgba(255, 255, 255, 1.00);font-family:lato;">Taught by you </div>

		<!-- LAYER NR. 22 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-64-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['48','48','48','67']" 
			 data-y="['top','top','top','top']" data-voffset="['46','46','46','46']" 
						data-fontsize="['40','34','34','34']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; white-space: nowrap; font-size: 40px; line-height: 22px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Lato;">Inspired by Scripture </div>

		<!-- LAYER NR. 23 -->
		<div class="tp-caption   tp-resizeme" 
			id="slide-64-layer-19" 
			data-x="['left','left','left','left']" data-hoffset="['50','48','48','41']" 
			data-y="['top','top','top','top']" data-voffset="['125','125','125','119']" 
			data-fontsize="['20','20','20','18']"
			data-width="['438','438','438','359']"
			data-height="['89','89','89','90']"
			data-whitespace="normal"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 12; min-width: 438px; max-width: 438px; max-width: 89px; max-width: 89px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">Attend MDN's W.E.A.P.O.N.S. Intensive training to learn how to deliver this life transforming curriculum to your men.  </div>
        </div>

		<!-- LAYER NR. 24 -->
		<div class="tp-caption     rev_group" 
			id="slide-64-layer-10" 
			data-x="['left','left','left','left']" data-hoffset="['117','117','117','118']" 
			data-y="['top','top','top','top']" data-voffset="['374','336','336','278']" 
			data-width="335"
			data-height="104"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1700,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 13; min-width: 335px; max-width: 335px; max-width: 104px; max-width: 104px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
		<!-- LAYER NR. 25 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-64-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['35','35','35','35']" 
			 data-y="['top','top','top','top']" data-voffset="['24','24','24','24']" 
						data-width="170"
			data-height="50"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 14;background-color:rgba(255, 255, 255, 1.00);"> </div>

		<!-- LAYER NR. 26 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-64-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['55','55','55','55']" 
			 data-y="['top','top','top','top']" data-voffset="['38','38','38','38']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 15; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Open Sans;">Learn More </div>
        </div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>



</section>
