
<div id="main">
	<!-- banner slider Start Here -->
	<%= render "/shared/home_slider" %>
	<!-- banner slider End Here -->
	

    <!-- Our Causes Section Start Here-->
    <section class="our-causes our-causes-section our-causes3">
		<div class="container">
			<div class="row">
				<div class="col-xs-12"> 
					<header class="page-header section-header">
						<h2>Our mission is to assist the local church in discipling its men. <strong>Find out how</strong></h2>
						<span style="font-size: 20px;">When a man is hurt or confused, advice is but a portion of what he needs. He needs training. For men don’t get what they wish for. They get what they Prepare for, Train for, and Live for. </span>
					</header>
					<div class="row">
					<div class="col-xs-12 col-md-4 item-wrapper">
						<div class="items zoom">
							<a href="#" class="img-thumb">
							<figure>
								<%= image_tag("graphics/system_of_discipleship_md.jpg")%>
							</figure> </a>
							<div class="item-content">
								<h3><strong>Equipping</strong> the local church with a system of discipleship.</h3>
								
								<p>MDN comes along the local church to assist with its mission to disciple men by providing a biblically sound blueprint to grow a thriving men’s ministry that has the power to revive a man’s soul, family and church.</p>
								<a data-toggle="modal" href="/system" class="btn btn-default">read more</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4 item-wrapper">
						<div class="items zoom">
							<a href="#" class="img-thumb">
							<figure>
								<%= image_tag("photos/weapons_md.jpg") %>
							</figure> </a>
							<div class="item-content">
								<h3><strong>Engaging</strong> curriculum. Inspired by Scripture, taught by you.&#153;</h3>
								
								<p>We provide the training and tools for you to capture the attention of your men, challenge them with Truth that Transforms &#153; and keep them with Training that Sustains&#153;</p>
								<a data-toggle="modal" href="/curriculum" class="btn btn-default">read more</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-4 item-wrapper">
						<div class="items zoom">
							<a href="#" class="img-thumb">
							<figure>
								<%= image_tag("photos/dbc_worship_md.jpg") %>
							</figure> </a>
							<div class="item-content">
								<h3><strong>Energizing</strong> a revolution in your men: Discipleship Boot Camp&#174;</h3>
								
								<p>Men from all over the region come together to be challenged by some of the nation's top Christian speakers and leaders. You don't want to miss the next life changing event.</p>
								<a data-toggle="modal" href="/bootcamp" class="btn btn-default">read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<section>

	</section class="live-comment">
	    
			<article class="media comment margin-top-30 text-center">
                <div class="media-body">
                  <header>
                    <h2 class="media-heading"><i class="fa fa-quote-left quote-mark"></i><%= @mannerism.quote %><i class="fa fa-quote-right quote-mark"></i></h2>
                  </header>
                  <p><em><%= @mannerism.author %></em></p>
                </div>
            </article>
		
	</section>
	<!-- Our Causes Section End Here-->
	
	<!-- How To Help Section Start Here -->
	<section id="video-promo" class="help-people">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2>Changing families <span>one man at a time&#153;</span></h2>
					<p class="message">When a teenager is the first to connect to a church, 3.5% of the time family follows. When a wife/mom is the first to connect to a church, 22% of the time the family follows. But when a man (husband/father) is the first to connect to a church, 93% of the time the family follows. Christian marriages end in divorce approximately 45% of the time. But when a man prays with his wife daily only 1 out of 1,152 marriages end in divorce; that's less than 0.1%! The Church needs to strategically focus its energy and resources on men to turn the tide of divorce, fatherlessness, and faithlessness.</p>

					<div class="video-section">
						<%= image_tag("graphics/wandering_in_desert.jpg", :data => {:video => 'https://player.vimeo.com/video/167131139'}) %> 
						<div class="control">
							<!-- <h2>Why W.E.A.P.O.N.S.?</h2> -->
							<a href="#" class="play-btn"> <i class="fa fa-play-circle-o"></i> </a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h2>How you can help ? <span>See Below </span></h2>
					<div class="help-block">
						<h3><a href="/my_story"><%= image_tag("graphics/share_story.jpg") %>Share Your Story</a></h3>
						<p>Tell us about what Jesus Christ is doing in your life and how MDN has helped you grow closer to Him.</p>
					</div>
					<div class="help-block">
						<h3><a href="/jobslisting"><%= image_tag("graphics/muscle.jpg") %>Become Volunteer </a></h3>
						<p>Be part of something bigger than yourself. Join forces with a team committed to bringing God's Kingdom to men and their families. </p>
					</div>
					<div class="help-block">
						<h3><a href="/donate" data-toggle="modal">
							<%= image_tag("graphics/donation.jpg") %>Donate to MDN</a></h3>
						<p>Please support the work of God through MDN. We have much work to do, and need your financial support. Your donation is tax deductible. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- How To Help Section End Here-->

	<!-- Latest News Section Start Here -->
<!-- 	<section class="latest-news news-section news-section3">
		<div class="container anim-section">
			<div class="row">
				<div class="col-xs-12 col-md-7">
					<div class="row">
						<header class="page-header section-header col-md-12 clearfix">
							<h2>Latest <strong>MDN</strong> News</h2>
						</header>
						<div class="items zoom col-xs-12 col-md-12">
							<div class="row">
							<a href="#" class="img-thumb col-md-5">
							<figure>
								<%#= image_tag("img-slide-05.jpg") %>
							</figure> </a>
							<div class="media col-md-7">
								<h3>Blog News Heading Title</h3>
								
								<span class="date"><i class="fa fa-calendar font-icon"></i> 03 DEC 2013</span><span class="posted-in"><i class="fa fa-tag font-icon"></i> Posted In : category</span>
								<p>
									Lorem ipsum dolor sit consectetur adipiscing elit llentesque small project decriptions Lorem ipsum dolor sit consectetur
								</p>
								<a href="blog-full-width.html" class="btn btn-default">READ MORE</a>
							</div>
								</div>
						</div>
						<div class="items zoom col-xs-12 col-md-12">
							<div class="row">
							<a href="#" class="img-thumb col-md-5">
							<figure>
								<%#= image_tag("slide-banner-01.jpg") %>
							</figure> </a>
							<div class="media col-md-7">
								<h3>Blog News Heading Title</h3>
								<span class="date"><i class="fa fa-calendar font-icon"></i> 03 DEC 2013</span><span class="posted-in"><i class="fa fa-tag font-icon"></i> Posted In : category</span>
								<p>
									Lorem ipsum dolor sit consectetur adipiscing elit llentesque small project decriptions Lorem ipsum dolor sit consectetur
								</p>
								<a href="blog-full-width.html" class="btn btn-default">READ MORE</a>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-5">
					
					<div class="volunteer-reward">
						<%#= image_tag("get-involved.png", class: "get-involved-pic") %> 
						<div class="reward-apply">
						<header class="page-header">
							<span class="svg-shape user-svg-shape">
									<%#= image_tag("graphics/TestSVG.svg", class: "svg", alt: "Get Involved") %>
								</span>
							<strong class="get-involved">GET 
								<span>INVOLVED</span>
								</strong>
								
							<h2>Be a volunteer & reap the
							rewards</h2>
						</header>
						<p>Integer accumsan nec orci at lacinia. Duis id sodales metus, eu efficitur massa am consequat tellus at sem  tortor rutrum orci blandit efficitur.</p>
						
					</div>
				</div>
			
				</div>
			</div>
		</div>
	</section> -->
	<!-- Latest News Section End Here -->

	<!--Testimonial Section Start Here -->
	<section class="donation-holder holders">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Hear What the Church Has to Say </h2>
					<div class="col-xs-12 col-md-12">
						<div class="flexslider">
						  <ul class="slides">
						    <li>
						    	<div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("graphics/man_speech_bubble.gif") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										[The W.E.A.P.O.N.S. curriculum] really encouraged us to rally behind our pastor and pray for him. It showed our men to follow God's leadership and authority in our life and how to unite as one for a common purpose - God. After this weekend’s workshop the men re-united and came together setting aside their differences. It really made a difference. 
									</p>
									<footer>
										<span>Brandon Dawson</span>
										<cite>House on the Rock, Far Rockaway, NY</cite>
									</footer>
								</blockquote>
								</div>
						    </li>
						    <li>
						      <div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("graphics/bullhorn.gif") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										"The [W.E.A.P.O.N.S.] intensive program was very informative and refreshing in that it presented a simple and sustainable strategy for enhancing the effectiveness of any men's ministry and for developing lay leaders through the W.E.A.P.O.N.S curriculum. It's a must have in every men's ministry toolkit." 
									</p>
									<footer>
										<span>Pastor Corey Johnson</span>
										<cite>Shelter Rock Church, Manhasset, NY</cite>
									</footer>
								</blockquote>
								</div>
						    </li>
						    <li>
						      <div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("graphics/man_speech_bubble.gif") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										I strongly recommend the W.E.A.P.O.N.S Curriculum to every church and encourage the leadership to get to know Pastor Scott Caesar and his MDN Coaches.  They will help your Men’s Ministry reach new heights…Whether you are a new believer or a veteran Christian, a young adult or an older adult, the “W.E.A.P.O.N.S. Curriculum” can help you begin your journey on how to become more knowledgeable in being the man that God has created you to be.
									</p>
									<footer>
										<span>Samuel Baez, Men's Leader</span>
										<cite>Assembly of God, Center Moriches, NY</cite>
									</footer>
								</blockquote>
								</div>
						    </li>
						    <li>
						      <div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("graphics/bullhorn.gif") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										The Saturday Men’s Discipleship Intensive Training...was very informative, engaging  and well attended. It’s wonderful to see the many men from different Christian denominations participate. The exploratory presentation of the materials were clear, meaningful and comprehensible. Pastors whose Churches embrace this material lay the ground work for men using serious bible based materials which connects them with their God and fellow brothers, which promotes spiritual wellness in our church communities.
									</p>
									<footer>
										<span>Victor Rubianes, Men's Facilitator</span>
										<cite>Crossway Church and Christian Center</cite>
									</footer>
								</blockquote>
								</div>
						    </li>

						  </ul>
					</div>
					<!-- End Flex -->
				</div>
			</div>
		</div>
	</section>
	<!--Testimonial Section End Here -->

	<!-- Gold Sponsors Start Here -->
	<section class="donation-holder holders">
      <%= render partial: "/sponsors/sponsors_banner" %>
	</section>

	<!-- Gold Sponsors Start Here -->

<!-- </div> -->

<!--Content End Here -->
