<p id="notice"><%= notice %></p>

<h1>MDN Events List</h1>
<p>This page is for the website administrators to create or delete events so they are viewable on the website and to order them in the priority that is desired for them to be seen. Re-ordering can be accomplished by dragging and dropping the items in the list. This will automatically be changed on the webpage that our visitors will see.</p>

<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <table class="table table-striped">
        <tbody class="event-sortable">
<!--           <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Date</th>
              <th>Time</th>
              <th>Address</th>
              <th></th>
              <th>City</th>
              <th>State</th>
              <th>Zipcode</th>
            </tr>
          </thead> -->
          <% @events.prioritized.onetime.each do |event| %>
            <tr class="sortable-row" data-id="<%= event.id %>">
              <td><%= event.title %></td>
              <td><%=truncate(event.description, length: 40, separator: ' ')%></td>
              <td><%= event.event_date.to_formatted_s(:long) %></td>
              <td><%= event.event_time.strftime("%I:%M %p") %> - <%= event.event_end_time.strftime("%I:%M %p") %></td>
              <td><%= event.location %></td>
              <td><%= event.address1 %></td>
              <td><%= event.city %></td>
              <td><%= event.state %></td>
              <td><%= event.zipcode %></td>
              <td>Priority: <%= event.priority %> </td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          <% @events.prioritized.ongoing.each do |event| %>
            <tr class="sortable-row" data-id="<%= event.id %>">
              <td><%= event.title %></td>
              <td><%=truncate(event.description, length: 40, separator: ' ')%></td>
              <td><%= event.frequency %> on <%= event.day %>s</td>
              <td><%= event.event_time.strftime("%I:%M %p") %> - <%= event.event_end_time.strftime("%I:%M %p") %></td>
              <td><%= event.location %></td>
              <td><%= event.address1 %></td>
              <td><%= event.city %></td>
              <td><%= event.state %></td>
              <td><%= event.zipcode %></td>
              <td>Priority: <%= event.priority %> </td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
