<!-- Add appropriate bootstrap columns -->
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-xs-10">
    <h1>MDN Events</h1>
    <h3>Don't miss out on one of these life changing events!</h3>

    <table id="events" class="table table-striped">
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Address</th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><a href="#<%= event.title %>"><%= event.title %></a></td>
            <td><%= event.event_date %></td>
            <td><%= event.event_time.strftime("%I:%M %p") %></td>
            <td><%= event.location %></td>
            <td><%= event.address1 %>,
            <% unless event.address2.blank? %>
              <%= event.address2 %>,
            <% end %>
            <%= event.city %>,
            <%= event.state %> 
            <%= event.zipcode %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  <div id="event_details" class="">
    <% @events.each do |event| %>
    <a name="<%= event.title %>"></a>
    <h2 class=""><%= event.title %></h2>
    <p><%= event.description %></p>
    </br><a href="#events">Back to top</a> &uarr;</br></br></br>
    <% end %> 
  </div>
  </div>
  <div class="col-sm-1"></div>
</div>

<!-- Add description details -->



