<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Event description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date.to_formatted_s(:long) %>
</p>
<p>
  <strong>Is the event repeatable?</strong>
  <%= @event.repeatable %>
</p>
<p>
  <strong>How frequent is the event?</strong>
  <%= @event.frequency %>
</p>
<p>
  <strong>Event day of the week if repeatable:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Event starting time:</strong>
  <%= @event.event_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>Event ending time:</strong>
  <%= @event.event_end_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @event.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @event.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @event.zipcode %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
