<p id="notice"><%= notice %></p>

<h1>MDN Sponsors List</h1>
<p>This page is for the website administrators to create or delete sponsors so they are viewable on the website and to order them in the priority that is desired for them to be seen. Re-ordering can be accomplished by dragging and dropping the items in the list. This will automatically be changed on the webpage that our visitors will see.</p>


<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <table class="table table-striped">
        <tbody class="sortable">
          <% @sponsors.each do |sponsor| %>
            <tr class="sortable-row" data-id="<%= sponsor.id %>">
              <td><%= sponsor.name %></td>
              <% if sponsor.level == "1" %>
                <td>Gold</td>
              <% else %>
                <td>Silver</td>
              <% end %>
              <% unless sponsor.logo_url(:portrait).to_s.length == 0 %>
                <td><%= image_tag(sponsor.logo_url(:portrait_sm).to_s) %> </td>
              <% else %>
                <td><%= image_tag(sponsor.logo_url(:landscape_sm).to_s) %> </td>
              <% end %>
              <td><%= link_to 'Show', sponsor %></td>
              <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
              <td><%= link_to 'Delete', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Sponsor', new_sponsor_path %>
<br>
<br>
