
<div id="main">
<section class="rev_slider_wrapper banner-section">
	<div class="rev_slider banner-slider">
		<ul>
			<!-- SLIDE  -->
            
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/dbc_worship.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
<!-- 				<div
					data-endspeed="500"
					data-easing="easeOutCirc"
					data-start="500"
					data-speed="700"
				</div> -->
				<div
					data-endspeed="500"
					data-easing="easeOutCirc"
					data-start="500"
					data-speed="500"
					data-y="355"
					data-x="152"
					class="tp-caption sfb feature-btn ">
						<a data-toggle="modal" href="http://whenibecameaman.eventzilla.net"><span class="btn btn-warning btn-sm">APRIL 1, 2017</span></a>
					</div>
					<div
					data-endspeed="800"
					data-easing="easeOutCirc"
					data-start="800"
					data-speed="500"
					data-y="410"
					data-x="152"
					class="tp-caption sfb">
						<div class="trans-grey"></div>
					</div>
					<div
					data-endspeed="1500"
					data-easing="easeOutCirc"
					data-start="1500"
					data-speed="1000"
					data-y="420"
					data-x="177"
					class="tp-caption banner-heading bottom-animation text-white sfb">
						<h2 class="h1"><strong>Discipleship Boot Camp</strong>
						
						Ignite Your Revolution</h2>
					</div>
			</li>
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/man_worshipping.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				</div>
			</li>
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/men_praying.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				</div>
			</li>
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/men_engaged.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				</div>
			</li>

        </ul>
	</div>

</section>

<div class="content-wrapper" id="page-info">
    <div class="container">
		<!-- Our Story Section Start Here -->
		<section class="our-story row">
			<div class="col-xs-12">
				<header class="story-heading section-header">
					<h2>Ignite your revolution with <strong>Discipleship Boot Camp</strong></h2>
				</header>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<section class="slider-wrap flex-slide flexslider">
							<ul class="slides">
							<li>
								<%= image_tag("graphics/dbc_2017_1.jpg") %>
							</li>
							<li>
								<%= image_tag("graphics/dbc_2017_3.jpg") %>
							</li>
							<!-- <li>
								<%#= image_tag("photos/family_devotions_a.jpg") %>
							</li> -->
							</ul>

						</section>
						        <p class="text-center">
       <a data-toggle="modal" href="http://whenibecameaman.eventzilla.net" class="btn btn-default btn-lg join-today">REGISTER TODAY!</a>
    </p>
					</div>
					<div class="col-xs-12 col-sm-7">
						<strong class="article-sammury">
							
								MDN Discipleship Boot Camp is a rally point for the men of your church to gather together, be challenged by truth that transforms, and unite as a cohesive team having shared a live changing experience. 
							
						</strong>
						<p>
							MDN’s Discipleship Boot Camp<sup>&#174;</sup> is a powerful, often life changing event in which men from all over the region come together to be challenged by the Word of God delivered through engaging, powerful, and inspired speakers and pastors. You will experience the power of brotherhood with men who share one common bond: Jesus Christ. Come as you are. There are none perfect here (Romans 3:10); just men recognizing their need of the Savior and a desire to become more like Him. Discipleship Boot Camp<sup>&#174;</sup>  is fun. You will laugh until you cry, and you will cry until you laugh as you experience the grace of Christ in your life. Come and be among the multitude of men called by God to gather "for such a time as this”. Come! Be “The Man God Blesses”.

						</p>
						
					</div>
					<div class="col-xs-12">

						<figure>
							<div class="videoWrapper">
								 <iframe src="https://player.vimeo.com/video/198470637" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</section>



		<section class="our-works row anim-section">
			<div class="col-xs-12">
				<header class="work-block-heading section-header">
					<h2>What is Discipleship Boot Camp<sup>&#174</sup>?<strong>  Why Should You Attend?</strong></h2>
				</header>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail zoom text-center">
							<h3>You Are Not Alone</h3>
							<a href="blog-full-width.html" class="img-thumb">
								<figure>
								<%= image_tag("photos/men_sharing.jpg") %>
								</figure>
								</a>
							<p>
								When you attend a DBC you will be gathering with men who struggle in the very same ways you do. We're all in this together. Understanding this helps to knock down walls that separate you from other men who would otherwise encourage and strengthen you. You will make friends who stick closer than brothers.
							</p>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail zoom text-center">
							<h3>You Will Hear Truth</h3>
							<a href="blog-full-width.html" class="img-thumb">
								<figure>
								<%= image_tag("photos/scott_presents.jpg") %>
								</figure>
								</a>
							<p>
								There are many voices in our culture that repeat lies about who you are, why you exist, and what you are supposed to do with your life. God tells us to not be confirmed to the patterns of the world, but to be transformed by the renewing of our minds. DBC speakers powerfully bring the truth of God's word to you so you will leave with clear answers to life's questions. 
							</p>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail zoom text-center">
							<h3>You Will Be Armed</h3>
							<a href="blog-full-width.html" class="img-thumb">
								<figure>
								<%= image_tag("photos/man_reading.jpg") %>
								</figure>
								</a>
							<p>
								The Bible teaches that we are opposed by an unseen enemy who seeks to steal from us, kill us, and destroy us. At DBC every man walks away with practical knowledge about the weapons that God has provided to every believer to overcome this enemy and to free captives he has taken and enslaved.  
							</p>
							
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail zoom  text-center">
							<h3>You Will Be Encouraged</h3>
							<a href="blog-full-width.html" class="img-thumb">
								<figure>
								<%= image_tag("photos/man_encouraged.jpg") %>
								</figure>
								</a>
							<p>
								All men go through seasons where they just don't "feel" God moving in their lives. This can make us depressed or unmotivated. If you are in such a season, you need to "suit up and show up", because you will walk away from the DBC strengthened and encouraged by the truth you've experienced, the love you've received, the worship you've participated, and the prayer and affirmation spoken over you.
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<p class="text-center">
		       <a data-toggle="modal" href="http://whenibecameaman.eventzilla.net" class="btn btn-default btn-lg join-today">REGISTER TODAY!</a>
		    </p>
		</section>
</div>
    <div>
		<!-- <section class="bootcamp parallax"> -->
	    <section class="bootcamp parallax">
			<!-- The parallax image is photos/parallax-banner-02.jpg -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-5">
						<h2 class="h1">Changing Families <strong class="border-none">One Man</strong> at a time</h2>
					</div>
				</div>
			</div>
		</section>
    </div>

    <div class="container">
		<section class="donation-holder holders">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Hear What the Church Has to Say </h2>
						<div class="col-xs-12 col-md-12">
							<div class="flexslider">
							  <ul class="slides">
							    <li>
							    	<div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/man_speech_bubble.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											[The W.E.A.P.O.N.S. curriculum] really encouraged us to rally behind our pastor and pray for him. It showed our men to follow God's leadership and authority in our life and how to unite as one for a common purpose - God. After this weekend’s workshop the men re-united and came together setting aside their differences. It really made a difference. 
										</p>
										<footer>
											<span>Brandon Dawson</span>
											<cite>House on the Rock, Far Rockaway, NY</cite>
										</footer>
									</blockquote>
									</div>
							    </li>
							    <li>
							      <div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/bullhorn.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											"The [W.E.A.P.O.N.S.] intensive program was very informative and refreshing in that it presented a simple and sustainable strategy for enhancing the effectiveness of any men's ministry and for developing lay leaders through the W.E.A.P.O.N.S curriculum. It's a must have in every men's ministry toolkit." 
										</p>
										<footer>
											<span>Pastor Corey Johnson</span>
											<cite>Shelter Rock Church, Manhasset, NY</cite>
										</footer>
									</blockquote>
									</div>
							    </li>
							    <li>
							      <div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/man_speech_bubble.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											I strongly recommend the W.E.A.P.O.N.S Curriculum to every church and encourage the leadership to get to know Pastor Scott Caesar and his MDN Coaches.  They will help your Men’s Ministry reach new heights…Whether you are a new believer or a veteran Christian, a young adult or an older adult, the “W.E.A.P.O.N.S. Curriculum” can help you begin your journey on how to become more knowledgeable in being the man that God has created you to be.
										</p>
										<footer>
											<span>Samuel Baez, Men's Leader</span>
											<cite>Assembly of God, Center Moriches, NY</cite>
										</footer>
									</blockquote>
									</div>
							    </li>
							    <li>
							      <div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/bullhorn.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											The Saturday Men’s Discipleship Intensive Training...was very informative, engaging  and well attended. It’s wonderful to see the many men from different Christian denominations participate. The exploratory presentation of the materials were clear, meaningful and comprehensible. Pastors whose Churches embrace this material lay the ground work for men using serious bible based materials which connects them with their God and fellow brothers, which promotes spiritual wellness in our church communities.
										</p>
										<footer>
											<span>Victor Rubianes, Men's Facilitator</span>
											<cite>Crossway Church and Christian Center</cite>
										</footer>
									</blockquote>
									</div>
							    </li>

							  </ul>
						</div>
						<!-- End Flex -->

					</div>
				</div>
			</div>
		</section>
        </div>
    </div>
</div>
<!-- site content ends -->
