		<!-- Our Team Section Start Here -->
		<div class="container">
			<section class="our-story row">
				<div class="col-xs-12">
					<header class="story-heading section-header">
						<h2><strong class="border-none">Meet the MDN Coaches</strong></h2>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-5">
							<section class="slider-wrap flex-slide flexslider">
								<ul class="slides">
									<li>
										<%=image_tag('photos/dbc_alter_call_md.jpg')%>
									</li>
									<li>
										<%=image_tag('photos/dbc_alter_call_md.jpg')%>
									</li>
								</ul>
							</section>
						</div>
						<div class="col-xs-12 col-sm-7">
							<strong class="article-sammury">
								
									A question we are asked often here at MDN is, "What is a Men's Discipleship Coach"? Contrary to first thought, the MDN Coach has little to do with sports or even the way professional sport coaches work. As a matter of fact the word we use for "Coach" is found in the Bible over 125 times. The transliterated word from the Hebrew to English reads "Koach".
								
							</strong>
							<p>
								 What is even more astounding is the Old Testament Biblical definition of "Koach": 58 times it means Strength (of Angels). 47 times it means Power (of God). In Daniel 1:4 it means "ability" and "competence to stand and serve". In 20 years of ministry to men we have determined that men are not as unmotivated and apathetic about Christianity as originally thought, but not systematically trained when it comes to the incarnation of their faith.</p>
                        </div>
                        <div class="col-xs-12 col-sm-12">
<p>The Men's Discipleship Coach is trained in man-skill techniques and is required to become an expert in how men learn. MDN Discipleship Coaches are asked to indoctrinate themselves in the "Masculine Mandate" that is sown throughout Holy Scripture. Study of Apologetic & Systematic Theology is standard requirement for this man who loves God with all his heart, and desires to serve and "Change families one man at a time". There are many great men and women who serve God through MDN, but the MDN Discipleship Coach is the instructor and communicator of the vision that we believe God has laid upon us for families. Integrity and Accountability are the twin towers in which the Men's Discipleship Coach is known by and sworn in to. The MDN Discipleship Coaches have been trained by Men's Pastor, Scott Caesar as he continually disciples and mentors them.</p>

<p>"A Coach walks with a man to a place he cannot go on his own" earning the right to speak Christ into his life." (Coach Bill McCartney). It is our distinct honor to introduce you to the Discipleship Coaching Staff at Men's Discipleship Network.</p>
						</div>
					</div>
				</div>
			</section>
			<div class="our-team text-center row">
				<div class="col-xs-12">
					<header class="team-info section-header">
						<h2>Who we are? <strong>Read our Stories</strong></h2>
						
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/casanova.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Carlos Casanova</h3>
									<p>Men’s Discipleship Coach Carlos Casanova graduated from Pace College in June 1972 with a Bachelor of Business Administration Degree. Upon graduating he began his accounting career with the then “Big 8 Accounting Firm" Deliotte, Haskins & Sells and became licensed to practice as a C.P.A. in February 1976.

He has successfully climbed the Corporate ladder and held several financial management positions with companies Revlon, Inc, Ayerst International and the New York Stock Exchange, Inc.

As the Controller of the New York Stock Exchange, Inc. Carlos was responsible for all aspects of Exchange business. As part of his many responsibilities Carlos has had extensive travel oversees to Europe and Latin America representing the above organizations.

Coach Carlos has recently transferred from the corporate world to successfully starting and owning his own accounting and tax business.

Coach Carlos is committed to serving the Lord and he works on this by serving on the Men’s Discipleship Network Board of Directors and is also extensively involved with all of the Ministries Planning for Men’s Events. Carlos also serves on the Finance Committee.

Carlos is married to his lovely wife Joyce of 28 years and has four wonderful children.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/magri.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Joe Magri</h3>
									<p>I have been part of the Men’s Discipleship Network since it’s inception and have a tremendous Brother in Christ and friendship that goes back more than 25 years with Pastor Scott Caesar.

As a young immature 19 year old getting saved for the first time, I might have understood the Salvation part but definitely not the Lordship part.

Always spending time with the Men’s Discipleship Network band of Brothers truly helped mature me. Slowly I started to realize that it’s not just about me and my family and blessings, it was more about being a Blessing. It was so much about James 1:2-3 and counting it all joy and the proving & working out of your faith which produces endurance and helps in the development of the Hupomene (Greek for endurance) Man, the Perfect Mature Man in Christ.

I give thanks to MDN Men’s for never watering down the truth, teaching truths that transform and Training that Sustains and helping me become the man I am today and continuing to become.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/eng.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Sunny Eng</h3>
									<p>Men's Discipleship Network has been for Coach Sunny the field in Matthew 13:44 that a man comes across and finds hidden treasure [the Living and Transforming Word of God], with great joy hides it [takes it to heart], and sells all he has to buy it [dedicating one's life and ambitions to helping other's find it as well].

Coach Sunny, who is the current CTO for God4me Ministries has been a volunteer, a participant, a supporter, and now a coach at Men's Discipleship Network. Serving for over ten years, today and everyday is still a new adventure for him as he grows and lives the life Christ has called him and all of us to live.

Coach Sunny graduated from Polytechnic University of New York in 1987 with a Bachelors of Science in Electrical Engineering and Computer Science. He has achieved Engineering Honors - ETA Kappa Nu, Tau Beta Pi, a patent pending in Exotics Trading Systems at Merrill Lynch, and participation in patents at Grummans and AT&T Bell Labs.

He has held technology, consulting, and executive management positions at Merrill Lynch, UBS/Swiss Bank, CS First Boston, AT&T Bell Laboratories - Murray Hill, and Northrop/Grumman. With responsibilities in Global Fixed Income Trading Systems, and Global Derivatives Documentation Systems in Asia Pacific, Australia and European countries.

Sunny is married to his beautiful and loving high school sweetheart Shirley for 20 years. Has seven children, four girls and three boys, ranging from 4 yrs of age to the teens and two in college.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/fitzgerald.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>T.J. Fitzgerald</h3>
									<p>I started attending the Men’s Study, A New Kind of Man, in November 2011 at Men’s Discipleship Network. I quickly realized that there was something special about the Discipleship Coaches and the men attending, along with the anointing of the Word. These men really wanted to go deeper with their true transparent relationship with God and each other, a real band of brothers. After a while of regularly attending, I felt God leading me to bring this teaching back to my church where I am the Men’s Leader. After bringing the WEAPONS 101 curriculum to the men, my Pastor and my co-leader realized the transformation it was having on the lives of the men.

My wife, Eileen had sent me a Valentine’s card in 2012, telling me the change in me and growth from the teaching of MDN and to never stop going. At this same time, I felt a calling from God to take the steps necessary to become a Discipleship Coach. For the next year, I pressed on thru the arduous process and completed the coaching requirements. Since then, my passion about teaching biblical manhood in the way of “How a man strengthens himself in the Lord” has motivated me to take these curriculums to as many men as possible. Outside of MDN, I am a business owner and have taken this life changing teaching to my own two boys and the men who work for me. I tell them that the teaching is “Not just a lifestyle, but a way of life.”

In the last 4 years, I witnessed firsthand the life changing process that Men’s Discipleship Network can have on a man who is willing to realize that he needs other godly men in his life. We are in this together and together we can succeed in becoming the true men of God, which God desires to use for His Kingdom.</p>
								</div>
							</div>
						</div>
                        <div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/ossofsky.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Bobby Ossofsky</h3>
									<p>Bob Ossofsky’s humble beginnings began in the Bronx, NYC. Bob was healed of a paralyzing muscle disease much like polio at the age of 12. His interest is in music and he has recorded at several studios in NY. He attended City University at Lehman College in the Bronx.

Being raised as an atheist, Bob went on a spiritual quest to know who God was. Seeking answers, Bob was mentored by Father Maltese who served at the Grotto in the Bronx. Today his mentors are Men’s Pastor Scott Caesar at MDN and Brian Doyle from Iron Sharpens Iron. He holds a certification as a Discipleship Coach.

After getting baptized through a church in Brooklyn, Pastor Scott recommended Bob spend time getting discipled through a local church. Mentoring men became part of Bob’s every day walk. Bob spent several years at a church in Connecticut as the Assistant Director of their Men's Ministry and instructor of discipleship classes.

His friendship with Pastor Scott started in the early 80’s. Bob's long time involvement with MDN dates back to the inception of MDN, where he served in a leadership capacity. Bob has been used of God to mentor leaders as well as run successful bible studies for men. He is grateful to the many sons in faith who have allowed him to pour Christ into them.

He has partnerships in a few businesses, including Bold Secure, a resource for Churches providing back ground checks and training in Church Security. He also owns a credit card processing company.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/birthwright.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Marc Birthwright</h3>
									<p>Marc Birthwright feels privileged to be a Men’s Discipleship Coach at Men’s Discipleship Network. In addition Coach Marc is a “Certified W.E.A.P.O.N.S. Instructor having met the requirements to be certified by the MDN Board.

As a leader in his profession Marc S. Birthwright has been a GM, Business Development Trainer, Motivational Speaker, and Consultant for major automotive companies such as Ford, Lincoln, Porsche, Audi, Volkswagen, Mitisubishi, Suzuki, and Cadillac. He is also a business owner of a Corporation which encompasses two firms First Choice Auto Consultants and First Choice Travel and Tours. With twenty years of automotives experience he has the ability to influence and change the direction of business entrepreneurs with a realistic approach. Having an instinctive talent to create and grow in business.

He has a passion to help people of all walks of life by encouraging them not to allow conditions to dictate their future, using sheer trust and faith in God to breakthrough all obstacles.

Coach is also an Ordained Minister & Pastor. He and his wife Adrienne Birthwright Co-Pastor are the founders of Christian Word of Faith Ministries. They just celebrated their 25th Wedding Anniversary. With three children and two beautiful grandchildren, his family has been his strength and Has given him balance throughout his career.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/labriola.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Dennis Labriola</h3>
									<p>I first become aware of the Men’s Discipleship Network shortly after the passing of my wife, Gail, in June of 2005. I was invited to a bible study by my church’s men’s ministry leader, Joe Avolese. The early morning (6:30 am) study fit my life well as I wasn’t sleeping much anyway. This study was attended by men that seemed to be mature in the things of God and at first I did not feel that I belonged. I came to the Lord in 1978 and was always involved in bible studies, cell groups and generally pursued my faith and embraced the truth of one being a disciple of Christ. Although my “God Journey” of almost 30 years brought me through some good times and times of challenge, walking through my wife’s illness and death brought me to places in my faith walk I knew very little about. At times I had no faith at all. Perhaps God wanted me to sit among these men for a bit.

It wasn’t long before I learned of the events that the Pastor Scott Caesar and his team of coaches put on called Men’s Discipleship Boot Camps. Powerful, no nonsense, half-day events to grow men up in their walk with God and challenge them to be men, real men, as defined in the Bible. I found these events extremely valuable as they addressed a lack in the church and provided the antidote for many of the problems and challenges in Christian life today…. a lack of Christ-like, masculine manhood. The message of being a biblically based man coupled with the accountability found in a band of brothers of like mindedness and the practicality of being this “new man” all the time (even at 2:00 on a Tuesday afternoon) not only spoke to my spirit, but gave me permission to sit around the table with other men just like me. Some broken, some mended, some recovering, some victorious, all brothers and all sons of God.

For me, the bible study and the events allowed me to recover from a deep hurt and loss. Yes, I am scarred, but I have learned to be proud of my battle wounds for they, like the stripes on the back of my precious Lord Jesus, show the seriousness of the fight and the value of the prize, my service to my brothers so they, too, can claim victory. I have learned the love of a brother and the commitment they have towards me. I have felt a brother reach down and pull me to a higher place. I have had the privilege to reach down to another in order to lift him. I am amazed as to the unity in the room as Baptist, Catholic, Pentecostal, Lutheran, Jew and gentile all gather to worship Christ and share the knowledge of His kingdom.

I have established friendships and “family” ties through this ministry that cannot be broken. It is even through this ministry that God has presented me a new love and marriage partner as God continues to restore me. Men’s Discipleship Network and it’s Ministries as well as the men (and women) associated with it have provided me an atmosphere to pursue Christ in authentic and practical ways that bring glory to God and significance to my walk. Discipleship is the giving of my whole life, for the whole of my life, to the learning of the ways of Christ and the pursuit of the knowledge of His kingdom. To the Glory of Christ.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/cervera.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Steve Cervera</h3>
									<p>Steve was introduced to the ministry when his best friend invited him to attend one of the Thursday morning bible studies, now known as "A New Kind of Man" Study in Biblical Manhood.

Steve recalls, "I was immediately impressed by the great wisdom of the Coaches of MDN, their depth and sincerity. Over time I witnessed that it wasn't just a show. These guys really practice what they preach. I am glad to be considered their brother and friend. Men's Discipleship Network speaks to men about the challenges, temptations, and struggles that ALL men face. I have rarely heard such honest and practical teachings on biblical manhood in the Church that have helped me personally to live a fruitful and fulfilling life in Christ. Having participated many seasons of Discipleship Boot Camps, I have witnessed and heard the cries of scores of men who are desperate in their struggle to live their lives free from the enslavement to things like purposelessness, pornography, infidelity, anger, marital strife, anger, fear, failure of relationships, and other self induced suffering. I have seen how the simple truths of Scripture poured into other men through a system of discipleship by men who deeply care about other men, can transform a man's life."

Steve is a manager at one of the world's largest technology companies. His professional career spans 24 years, but he finds his greatest satisfaction is his work for MDN. Steve serves as Director of Web & Media for Men's Discipleship Network and has been a part of a team of dedicated men who produce the videos and podcasts for the ministry. Steve is also the webmaster for the mensdiscipleshipnetwork.com website, and serves as co-host with Coach Marc Birthwright on the radio program "A New Kind of Man" featuring Pastor Scott Caesar.

Steve is a graduate of the Chuck Colson Centurions Program which is a program that trains layman and leaders to be teachers and advocates of Christian Worldview and to challenge modern cultural values to point them back to the Creator of all things. Steve has earned the title of "Coach" after passing the rigorous MDN Coach Training curriculum. He has been a Christian since the age of 11, though he admits that many of those years as a youth were troubled after the murder of his father when Steve was only 13.

Steve has been married for 24 years to the woman of his dreams. Steve says, "We have invested a lot in our marriage over the years, and have harvested a deep and abiding love for each other." Steve is the father of two beautiful teenage daughters and his greatest desire for them is that they know God and bear much fruit for Him.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Team Section Start Here -->