
<div id="main">

	<%= render "/shared/curriculum_slider" %>

<div class="content-wrapper" id="page-info">
    <div class="container">
		<!-- Our Story Section Start Here -->
		<section class="our-story row">
			<div class="col-xs-12">
				<header class="story-heading section-header">
					<h2><strong>W.E.A.P.O.N.S.<sup>®</sup> </strong>Curriculum for Men </h2>
					<h3>Teaching a Man to Strengthen Himself in the Lord</h3>
				</header>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<section class="slider-wrap flex-slide flexslider">
							<ul class="slides">
							<li>
								<%= image_tag("photos/weapons_set.jpg") %>
							</li>
							<li>
								<%= image_tag("photos/family_devotions.jpg") %>
							</li>
							<!-- <li>
								<%#= image_tag("photos/family_devotions_a.jpg") %>
							</li> -->
							</ul>
						</section>
						<h2 class="text-center">
							Next W.E.A.P.O.N.S.<sup>®</sup> Intensive Training Event June 10th in Syracuse, NY
		                </h2>
		                <p class="text-center">
		                    <a data-toggle="modal" href="http://events.eventzilla.net/e/mdn-weapons-intensive-at-syracuse-2138913779" class="btn btn-blue btn-lg">REGISTER</a>
		                </p>
					</div>
					<div class="col-xs-12 col-sm-7">
						<strong class="article-sammury">
							
								W.E.A.P.O.N.S.<sup>®</sup> Curriculum for men is a life-changing curriculum that is rooted in Christ-centered manhood, providing vital truth that transforms a man with training that sustains it. 
							
						</strong>
						<p>
							This Scripture-drenched course is founded on 20 years of ministry to men by Men’s Pastor, Scott Caesar and has a proven blueprint to revive a man’s soul, growing and maturing in Biblical manhood. The comprehensive, step-by-step videos are designed to assist the teacher and his core leaders to minister more effectively to their men through a system of challenging but practical training to equip, engage and teach men. The format consists of masculine-themed teaching, combined with man-life parables, interactive workshops with discussion/application times. It provides a sustainable system of accountable brotherhood that is built to last and a supported game plan of consistent Bible engagement for men.

						</p>
						<p>
							Since 1996 thousands of men have experienced the joy of realizing their freedom through MDN's system of discipleship as the Gospel becomes practical and attractive, creating a multiplying effect on families, the church and the community.


						</p>
					</div>
				</div>
			</div>
		</section>



		<section class="our-works row anim-section">
			<div class="col-xs-12">
				<header class="work-block-heading section-header">
					<h2>What is W.E.A.P.O.N.S.<sup>&#174</sup>? <strong>Learn More</strong></h2>
				</header>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail zoom">
							<h3>Cycle of Male Discipleship</h3>
							<a href="/system" class="img-thumb">
								<figure>
								<%= image_tag("photos/cycle_discipleship.jpg") %>
								</figure>
								</a>
							<p>
								Men don't get what they wish for. They get what they Prepare for, Train for, and Live for. MDN comes along side the local church to assist in discipleship to men.
							</p>
							<p>
								<a href="/system" class="btn btn-default btn-sm" role="button">READ MORE</a>
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail zoom">
							<h3>Hear What the People We Serve Say</h3>
							<a href="/testimonies" class="img-thumb">
								<figure>
								<%= image_tag("photos/lightstock_31973_sm.jpg") %>
								</figure>
								</a>
							<p>
								Thousands of men have been trained through MDN Curriculum, and the results have been amazing. Read some of their life-changing testimonies.
							</p>
							<p>
								<a href="/testimonies" class="btn btn-default btn-sm" role="button">READ MORE</a>
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail zoom">
							<h3>Take a Look at the Curriculum</h3>
							<a href="/lesson_sample" class="img-thumb">
								<figure>
								<%= image_tag("photos/weapons_set_md.jpg") %>
								</figure>
								</a>
							<p>
								So what's so special about this curriculum? It is God's life-changing truth presented in a way that is exciting, yet practical and engaging to men.
							</p>
							<p>
								<a href="/lesson_sample" class="btn btn-default btn-sm" role="button">READ MORE</a>
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="thumbnail">
							<h3>Watch a Sample Lesson</h3></br>
							<a href="/lesson_sample" class="img-thumb">
								<figure>
								<%= image_tag("photos/scott_presents.jpg") %>
								</figure>
								</a>
							<p>
								The  W.E.A.P.O.N.S.<sup>&#174</sup> Curriculum features over 8 hours of DVD training videos and a manual for both the attendees and the teacher. Check out a short sample.
							</p>
							<p>
								<a href="/lesson_sample" class="btn btn-default btn-sm" role="button">READ MORE</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
</div>
    <div>
		<section class="helping-child parallax">
			<!-- The parallax image is photos/parallax-banner-02.jpg -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-5">
						<h2 class="h1">Changing Families <strong class="border-none">One Man</strong> at a time</h2>
						<p>Men are the key to healthy families, churches and communities. MDN supports the local church in their effort to reach men for Christ with life changing, Scripture soaked curriculum.</p>
						<a data-toggle="modal" href="/contact_us" class="btn btn-theme">Find Out More!</a>
					</div>
				</div>
			</div>
		</section>
    </div>

    <div class="container">
		<section class="donation-holder holders">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>Hear What the Church Has to Say </h2>
						<div class="col-xs-12 col-md-12">
							<div class="flexslider">
							  <ul class="slides">
							    <li>
							    	<div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/man_speech_bubble.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											[The W.E.A.P.O.N.S. curriculum] really encouraged us to rally behind our pastor and pray for him. It showed our men to follow God's leadership and authority in our life and how to unite as one for a common purpose - God. After this weekend’s workshop the men re-united and came together setting aside their differences. It really made a difference. 
										</p>
										<footer>
											<span>Brandon Dawson</span>
											<cite>House on the Rock, Far Rockaway, NY</cite>
										</footer>
									</blockquote>
									</div>
							    </li>
							    <li>
							      <div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/bullhorn.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											"The [W.E.A.P.O.N.S.] intensive program was very informative and refreshing in that it presented a simple and sustainable strategy for enhancing the effectiveness of any men's ministry and for developing lay leaders through the W.E.A.P.O.N.S curriculum. It's a must have in every men's ministry toolkit." 
										</p>
										<footer>
											<span>Pastor Corey Johnson</span>
											<cite>Shelter Rock Church, Manhasset, NY</cite>
										</footer>
									</blockquote>
									</div>
							    </li>
							    <li>
							      <div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/man_speech_bubble.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											I strongly recommend the W.E.A.P.O.N.S Curriculum to every church and encourage the leadership to get to know Pastor Scott Caesar and his MDN Coaches.  They will help your Men’s Ministry reach new heights…Whether you are a new believer or a veteran Christian, a young adult or an older adult, the “W.E.A.P.O.N.S. Curriculum” can help you begin your journey on how to become more knowledgeable in being the man that God has created you to be.
										</p>
										<footer>
											<span>Samuel Baez, Men's Leader</span>
											<cite>Assembly of God, Center Moriches, NY</cite>
										</footer>
									</blockquote>
									</div>
							    </li>
							    <li>
							      <div class="testimonial-content">
							    	<div class="img-circle photo-frame">
							    		<%= image_tag("graphics/bullhorn.gif") %>
							    	</div>
							      	<blockquote>
										<p> <i class="fa fa-quote-left quote-mark"></i>
											The Saturday Men’s Discipleship Intensive Training...was very informative, engaging  and well attended. It’s wonderful to see the many men from different Christian denominations participate. The exploratory presentation of the materials were clear, meaningful and comprehensible. Pastors whose Churches embrace this material lay the ground work for men using serious bible based materials which connects them with their God and fellow brothers, which promotes spiritual wellness in our church communities.
										</p>
										<footer>
											<span>Victor Rubianes, Men's Facilitator</span>
											<cite>Crossway Church and Christian Center</cite>
										</footer>
									</blockquote>
									</div>
							    </li>

							  </ul>
						</div>
						<!-- End Flex -->
					</div>
				</div>
			</div>
		</section>
        </div>
    </div>
</div>
<!-- site content ends -->
