
		<div id="wrapper">
			<!--Header Section Start Here -->
			<%= render "/shared/navbar" %>
			<!-- Header Section End Here -->
			
				<!-- Site Content -->
			<div id="main">
				<!-- banner slider Start Here -->
				<%= render "/shared/banner_slider" %>
				<!-- banner slider End Here -->
				

			    <!-- Our Causes Section Start Here-->
			    <section class="our-causes our-causes-section our-causes3">
					<div class="container">
						<div class="row">
							<div class="col-xs-12"> 
								<header class="page-header section-header">
									<h2>Our mission is to assist the local church in discipling its men. <strong>Find out how</strong></h2>
									<span>The local Church is God's plan A...there is no plan B. Failure is not an option. And yet, many pastors and men's leaders feel like
									they are struggling to reach their men and keep their interest. MDN can help. </span>
								</header>
								<div class="row">
								<div class="col-xs-12 col-md-4 item-wrapper">
									<div class="items zoom">
										<a href="#" class="img-thumb">
										<figure>
											<%= image_tag("photos/system_of_discipleship_md.jpg")%>
										</figure> </a>
										<div class="item-content">
											<h3>Equipping the local church with a system of discipleship.</h3>
											
											<p>Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...</p>
											<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">read more</a>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-4 item-wrapper">
									<div class="items zoom">
										<a href="#" class="img-thumb">
										<figure>
											<%= image_tag("photos/weapons_md.jpg") %>
										</figure> </a>
										<div class="item-content">
											<h3>Curriculum for men inspired by Scripture, taught by you.</h3>
											
											<p>Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...</p>
											<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">read more</a>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-4 item-wrapper">
									<div class="items zoom">
										<a href="#" class="img-thumb">
										<figure>
											<%= image_tag("photos/dbc_alter_call_md.jpg") %>
										</figure> </a>
										<div class="item-content">
											<h3>Discipleship Boot Camp&#174; - Truth that transforms</h3>
											
											<p>Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...</p>
											<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">read more</a>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Our Causes Section End Here-->
				
				<!-- How To Help Section Start Here -->
				<section class="help-people">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<h2>We can change <span>life with the help to people africa </span></h2>
								<p class="message">Fusce suscipit varius mium sociis natoque penatibus magnis dis parturient montes nascetur ridiculus mususce feugiat malesua orbi nunc odio gravida. cursus nec luctus a loremaecenas tristique orci ac semuis ultricies pharetra magna.</p>
								<div class="row">
									<div class="col-md-6">
										<h3>Heading title </h3>
										<p>Duis id sodales metus, eu efficitur massa tiam consequat tellus at sem pulvinar efficitur.Nunc id tortor rutrum orci blandit efficitur. </p>
									</div>
									<div class="col-md-6">
										<h3>Heading title </h3>
										<p>Duis id sodales metus, eu efficitur massa tiam consequat tellus at sem pulvinar efficitur.Nunc id tortor rutrum orci blandit efficitur. </p>
									</div>
								</div>
								<div class="video-section">
									<%= image_tag("video-pic2.jpg") %> 
									<div class="control">
										<h2>Watch our media video</h2>
										<a href="#" class="play-btn"> <i class="fa fa-play-circle-o"></i> </a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<h2>How you can help ? <span>See Below </span></h2>
								<div class="help-block">
									<h3><a href="our-story.html"><%= image_tag("megaphone.svg") %>Media Helping</a></h3>
									<p>Duis id sodales metus, eu efficitur massa tiam consequat tellus at sem pulvinar efficitur.Nunc id tortor rutrum orci blandit efficitur. </p>
								</div>
								<div class="help-block">
									<h3><a href="volunteer.html"><%= image_tag("user.svg") %>Become Volunteer </a></h3>
									<p>Duis id sodales metus, eu efficitur massa tiam consequat tellus at sem pulvinar efficitur.Nunc id tortor rutrum orci blandit efficitur. </p>
								</div>
								<div class="help-block">
									<h3><a href="external.html" data-toggle="modal" data-target=".donate-form">
										<%= image_tag("heart.svg") %>Send Donation</a></h3>
									<p>Duis id sodales metus, eu efficitur massa tiam consequat tellus at sem pulvinar efficitur.Nunc id tortor rutrum orci blandit efficitur. </p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- How To Help Section End Here-->

				<!-- Latest News Section Start Here -->
				<section class="latest-news news-section news-section3">
					<div class="container anim-section">
						<div class="row">
							<div class="col-xs-12 col-md-7">
								<div class="row">
									<header class="page-header section-header col-md-12 clearfix">
										<h2>Latest News <strong>Charity</strong></h2>
									</header>
									<div class="items zoom col-xs-12 col-md-12">
										<div class="row">
										<a href="#" class="img-thumb col-md-5">
										<figure>
											<%= image_tag("img-slide-05.jpg") %>
										</figure> </a>
										<div class="media col-md-7">
											<h3>Blog News Heading Title</h3>
											
											<span class="date"><i class="fa fa-calendar font-icon"></i> 03 DEC 2013</span><span class="posted-in"><i class="fa fa-tag font-icon"></i> Posted In : category</span>
											<p>
												Lorem ipsum dolor sit consectetur adipiscing elit llentesque small project decriptions Lorem ipsum dolor sit consectetur
											</p>
											<a href="blog-full-width.html" class="btn btn-default">READ MORE</a>
										</div>
											</div>
									</div>
									<div class="items zoom col-xs-12 col-md-12">
										<div class="row">
										<a href="#" class="img-thumb col-md-5">
										<figure>
											<%= image_tag("slide-banner-01.jpg") %>
										</figure> </a>
										<div class="media col-md-7">
											<h3>Blog News Heading Title</h3>
											<span class="date"><i class="fa fa-calendar font-icon"></i> 03 DEC 2013</span><span class="posted-in"><i class="fa fa-tag font-icon"></i> Posted In : category</span>
											<p>
												Lorem ipsum dolor sit consectetur adipiscing elit llentesque small project decriptions Lorem ipsum dolor sit consectetur
											</p>
											<a href="blog-full-width.html" class="btn btn-default">READ MORE</a>
										</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-5">
								
								<div class="volunteer-reward">
									<%= image_tag("get-involved.png", class: "get-involved-pic") %> 
									<div class="reward-apply">
									<header class="page-header">
										<span class="svg-shape user-svg-shape">
												<%= image_tag("user.svg", class: "svg", alt: "Get Involved") %>
											</span>
										<strong class="get-involved">GET 
											<span>INVOLVED</span>
											</strong>
											
										<h2>Be a volunteer & reap the
										rewards</h2>
									</header>
									<p>Integer accumsan nec orci at lacinia. Duis id sodales metus, eu efficitur massa am consequat tellus at sem  tortor rutrum orci blandit efficitur.</p>
									
								</div>
							</div>
						
							</div>
						</div>
					</div>
				</section>
				<!-- Latest News Section End Here -->

				<!--Testimonial Section Start Here -->
				<section class="donation-holder holders">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h2>What Donation Holders say </h2>
								<div class="col-xs-12 col-md-12">
									<div class="flexslider">
									  <ul class="slides">
									    <li>
									    	<div class="testimonial-content">
									    	<div class="img-circle photo-frame">
									    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
									    	</div>
									      	<blockquote>
												<p> <i class="fa fa-quote-left quote-mark"></i>
													[The W.E.A.P.O.N.S. curriculum] really encouraged us to rally behind our pastor and pray for him. It showed our men to follow God's leadership and authority in our life and how to unite as one for a common purpose - God. After this weekend’s workshop the men re-united and came together setting aside their differences. It really made a difference. 
												</p>
												<footer>
													<span>Brandon Dawson</span>
													<cite>House on the Rock, Far Rockaway, NY</cite>
												</footer>
											</blockquote>
											</div>
									    </li>
									    <li>
									      <div class="testimonial-content">
									    	<div class="img-circle photo-frame">
									    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
									    	</div>
									      	<blockquote>
												<p> <i class="fa fa-quote-left quote-mark"></i>
													"The [W.E.A.P.O.N.S.] intensive program was very informative and refreshing in that it presented a simple and sustainable strategy for enhancing the effectiveness of any men's ministry and for developing lay leaders through the W.E.A.P.O.N.S curriculum. It's a must have in every men's ministry toolkit." 
												</p>
												<footer>
													<span>Pastor Corey Johnson</span>
													<cite>Shelter Rock Church, Manhasset, NY</cite>
												</footer>
											</blockquote>
											</div>
									    </li>
									    <li>
									      <div class="testimonial-content">
									    	<div class="img-circle photo-frame">
									    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
									    	</div>
									      	<blockquote>
												<p> <i class="fa fa-quote-left quote-mark"></i>
													I strongly recommend the W.E.A.P.O.N.S Curriculum to every church and encourage the leadership to get to know Pastor Scott Caesar and his MDN Coaches.  They will help your Men’s Ministry reach new heights. 
												</p>
												<footer>
													<span>Samuel Baez, Men's Leader</span>
													<cite>Assembly of God, Center Moriches, NY</cite>
												</footer>
											</blockquote>
											</div>
									    </li>
									    <li>
									      <div class="testimonial-content">
									    	<div class="img-circle photo-frame">
									    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
									    	</div>
									      	<blockquote>
												<p> <i class="fa fa-quote-left quote-mark"></i>
													The Saturday Men’s Discipleship Intensive Training...was very informative, engaging  and well attended. It’s wonderful to see the many men from different Christian denominations participate. The exploratory presentation of the materials were clear, meaningful and comprehensible. Pastors whose Churches embrace this material lay the ground work for men using serious bible based materials which connects them with their God and fellow brothers, which promotes spiritual wellness in our church communities.
												</p>
												<footer>
													<span>Victor Rubianes, Men's Facilitator</span>
													<cite>Crossway Church and Christian Center</cite>
												</footer>
											</blockquote>
											</div>
									    </li>

									  </ul>
								</div>
								<!-- End Flex -->
							</div>
						</div>
					</div>
					</div>
				</section>
				<!--Testimonial Section End Here -->

		    </div>

			<!--Content End Here -->
			<!--Footer Section Start Here -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<div class="footer-logo">
								<a href="index.html" title="Welcome to Charity"><%= image_tag('logos/mdn_logo_wh_240.png') %></a>
							</div>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
							</p>
							<address>
								<span> <i class="fa fa-home"></i> <span>A-2, Sector-63, Noida, 201301, India</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>+1 707 921 7269</span> </span>
								<span> <i class="fa fa-envelope"></i> <span><a href="mailto:contact@charity.com">contact@charity.com</a></span> </span>
							</address>

						</div>
						<div class="col-xs-12 col-sm-4 twitter-update">
							<h6>Twitter Feed</h6>
							<p>
								<a href="#"> <span class="charity">@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
							</p>
							<p>
								<a href="#"> <span class="charity">@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
							</p>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h6>Newsletter Signup</h6>
							<p>
								Variations of passages of Lorem Ipsum available, but the majokgrity
							</p>
							<form role="form" class="sign-up">

								<div class="input-group">
									<input class="form-control" type="email" placeholder="Email">
									<div class="input-group-addon">
										<input type="submit" class="btn btn-theme" value="Submit">
									</div>
								</div>

							</form>

							<h6>Follow us</h6>
							<ul class="social-icons">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span> &copy; Copyright 2014, All Rights Reserved by Charity Theme.
									</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--Footer Section End Here -->
		</div>
		<!-- join now form popup -->
		<div class="modal join-now-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<header class="page-header">
							<h2>Become a <strong>Volunteer</strong></h2>
						</header>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="name-join">Name<span>*</span></label>
										<input type="text" class="form-control" id="name-join">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="last-name-join">Last Name<span>*</span></label>
										<input type="text" class="form-control" id="last-name-join">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="email-join">Email<span>*</span></label>
										<input type="text" class="form-control" id="email-join">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="phone-join">Phone<span>*</span></label>
										<input type="text" class="form-control" id="phone-join">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="zip-code-join">ZIP code<span>*</span></label>
										<input type="password" class="form-control" id="zip-code-join">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<label for="message-join">Why you join volunteer<span>*</span></label>
										<textarea class="form-control" id="message-join"></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<p class="forms-notes">
											Note: Note for voulnteer form
										</p>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
		<!-- join now form popup -->
		<!-- donation form popup -->

		<div class="modal donate-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<header class="page-header">
							<h2>You are donating to. <strong>Example Causes name</strong></h2>
						</header>
					</div>
					<div class="modal-body">
						<form role="form">

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label>How much would you like to donate ?</label>

										<div class="choose-pricing">
											<div class="btn-group">
												<button type="button" class="btn btn-default active">
													$12
												</button>
												<button type="button" class="btn btn-default">
													$22
												</button>
												<button type="button" class="btn btn-default">
													$32
												</button>

												<input type="text" placeholder="Custom" class="inpt-first form-control">

											</div>
										</div>
									</div>

								</div>
							</div>

							<div class="row display">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<div class="dropdown">
											<button class="btn btn-width dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<small> Donation Type</small>
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
												<li role="presentation">
													<a role="menuitem" tabindex="-1" href="#">Every Monthly (Recurring)</a>
												</li>
												<li role="presentation">
													<a role="menuitem" tabindex="-1" href="#">One Time Donation</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="name">Name<span>*</span></label>
										<input type="text" class="form-control" id="name">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="last-name">Last Name<span>*</span></label>
										<input type="text" class="form-control" id="last-name">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="name">Email<span>*</span></label>
										<input type="text" class="form-control" id="email">
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="phone">Phone<span>*</span></label>
										<input type="text" class="form-control" id="phone">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12 col-sm-6">
										<label for="message">Address<span>*</span></label>
										<textarea class="form-control" id="message"></textarea>
									</div>
									<div class="form-group col-xs-12 col-sm-6">
										<label for="add-note">Additional Note</label>
										<textarea class="form-control" id="add-note"></textarea>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<input type="submit" value="DONATE" class="btn btn-default pull-right">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group col-xs-12">
										<p class="forms-notes">
											Note: Lorem ipsum dolor sit amet
										</p>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> 
		<!-- donation form popup -->