<div class="row">
	<div class="col-xs-12">
		<div class="comment-block">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">

					<section class="live-comment">
						<h3>Hear About the Impact of MDN</h3>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">George McGovern, Chaplain to NY Yankees & Giants</h4>
								</header>
								<p>
									"Say what you want, but when God's Word is combined with a call to manhood, an emphasis on brotherhood, and a dialing in on practical Christian living, transformation takes place within and among men. MDN's WEAPONS Curriculum is proving this formula to be true over and over again. I wholeheartedly back their material."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Pastor Alan E. Stein, Neighborhood Assembly of God</h4>
								</header>
								<p>
									"We had the privilege of having our men go through the Men's Discipleship Weapons Curriculum - in which I was part of as the pastor. I want to very highly recommend your men’s group involving yourselves in going through this excellent teaching series. I have personally watched our men grow in spiritual wisdom and knowledge and in their personal relationships as husbands, fathers, and disciples of our Lord Jesus Christ."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Pastor Ariel Nieves, Christ Tabernacle</h4>
								</header>
								<p>
									"Men’s Discipleship Network and Scott Caesar have been an amazing support to our men’s ministry at Christ Tabernacle. He’s been a sounding board to me and our men’s director. Recently, our men’s small groups did the W.E.A.P.O.N.S. curriculum and it really helped them understand their role as a man. As a Pastor at Christ Tabernacle I want to thank them for supporting our men and helping them grow spiritually.” 
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Wayne Cavaliere, Hampton Bays Assembly of God</h4>
								</header>
								<p>
									"Great training, powerful, well done, life changing.""
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Brian Pelter</h4>
								</header>
								<p>
									"Your ministry has transformed my life and my now my wife. The WEAPONS Curriculum has totally transformed my way of thinking and has helped me grow exponentially."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Pastor Tom Carey</h4>
								</header>
								<p>
									"I’m a pure pastor – when men come to me I look to heal them. When they come for training I bring them to MDN. You guys do that, I can’t. MDN, you are our Men’s Ministry Department – You guys give the type of training that make men – I need you."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Michael, Bethlehem AG</h4>
								</header>
								<p>
									"I got home a while ago, and got my son into bed. We've been going through a children's Bible app on his iPad at night before we pray. While we prayed tonight, my son began to pray that God bless the Men's Ministry. I am thrilled that he is seeing the example of Biblical manhood from this ministry. Not only am I being blessed by this ministry, but tonight gave me confirmation that my 6 year old son is also. There are no words to describe how happy I was to hear him pray for the men's ministry, because it means that it is impacting his life as well." 
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Jose Tutiven</h4>
								</header>
								<p>
									"Before attending WEAPONS, I never realized how lost I was in every aspect of my life: How to get to know God; how to become a Christ-like man; How to be a man who leads and protects his family; How to be a father to my beautiful 3 year old daughter. I have to say that every section and lessons during WEAPONS has given me the tools to confront and overcome all obstacles surrounding my life. Being surrounded by such incredible men that I’m proud to call brothers has made me realize that I am not alone. I have never experienced such unity, compassion and fellowship until now."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Brandon Dawson, House on the Rock</h4>
								</header>
								<p>
									"I attended the MDN leadership training course with 4 other men from our church. We have been so excited and thrilled about this curriculum. Our church is currently in a growing and transition phase in our community in where we have gone from 30 to about 200 people in these last few months. Recently our group of men have been praying to fight against disunity and discord. The enemy has been trying hard to divide us and set us against each other. This course really encouraged us to rally behind our pastor and pray for him. It showed our men to follow God's leadership and authority in our life and how to unite as one for a common purpose-God. We have also been speaking the 8 spiritual physics steps which speak a lot of truth. After this weekend’s workshop the men re-united and came together setting aside their differences. It really made a difference."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Pastor Corey Johnson, Shelter Rock Church</h4>
								</header>
								<p>
									"It was fantastic. The intensive program was very informative and refreshing in that it presented a simple and sustainable strategy for enhancing the effectiveness of any men's ministry and for developing lay leaders through the W.E.A.P.O.N.S curriculum. It's a must have in every men's ministry toolkit.” 
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Samuel Baez, Assemblies of God Center Moriches</h4>
								</header>
								<p>
									"We have used the W.E.A.P.O.N.S. 101 Course and the results were wonderful. This system was able to bring men of different ages together in a way that nothing else has before. A new spark is being developed in our church Men’s Ministry. I strongly recommend the W.E.A.P.O.N.S Curriculum to every church. It will help your Men’s Ministry reach new heights."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Victor Rubianes, Crossway Church and Christian Center</h4>
								</header>
								<p>
									"The Men’s Discipleship Leadership Intensive Training was very informative and engaging. It’s wonderful to see the many men from different Christian denominations participate. The exploratory presentation of the materials were clear, meaningful and comprehensible. Pastors whose Churches embrace this material lay the ground work for men using serious bible based materials which connects them with God and their fellow brothers, which promotes spiritual wellness in our church communities." 
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Pastor D Ganesh Ramrup, Calvary AOG</h4>
								</header>
								<p>
									"MDN's Weapon's Intensive studies helped me to find an open door to navigate my life to realize the full essence of a man in Jesus Christ."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Corey, Bethel Gospel Tabernacle</h4>
								</header>
								<p>
									"I want to express my gratitude to all involved in the Men's WEAPONS program. I learned things I did not know and practical real life ways to be successful in carrying out the ways that will benefit the purpose God has for me as an under-shepherd, husband, father and friend. The program cut to the core, but then stitched up the areas in which it open and that needed to be replaced."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Duke</h4>
								</header>
								<p>
									"As a young boy of 15, I didn’t really know what to expect from the WEAPONS Curriculum for men. Each letter in the WEAPONS is a teaching in itself. It nailed me down and got a hold of me. Every teaching got deep down into the root, and at the end of the course, no doubt, I felt like a new man, changed and living for Christ."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">Dan Flynn</h4>
								</header>
								<p>
									"Today I can say for the first time in my life I am a consistent and reliable man. If you know me in the past you would never think this would happen. I was a quitter, never finishing anything I did.  Well thanks to the Power of Jesus Christ, I am no longer a quitter. I recently completed a 10-week Men’s Discipleship program called WEAPONS. I have great men in my life today who hold me accountable and encourage me to be the man God created me to be. I strongly encourage all men to step up to the plate and take this tremendous men’s curriculum."
								</p>
							</div>
						</article>
						<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">TJ Fitzgerald</h4>
								</header>
								<p>
									“The WEAPONS Curriculum has changed the face of our church. Not just the men, but the Church as a whole.” 
								</p>
							</div>
						</article>
<!-- 					<article class="media comment">
							<a class="pull-left" href="#"> 
								<figure>
								<%= image_tag("graphics/share_story_sm.jpg") %>
								</figure>
								</a>
							<div class="media-body">
								<header>
									<h4 class="media-heading">John Doe</h4>
								</header>
								<p>
									Donec at neque eget lacus lobortis molestie Mauris id elit vehicula, rutrum eu pellentesque nulla Nam sed lacus vitae metus porttitor mollis  pellentesque nulla nam sed lacus vitae metus porttitor mollis.
								</p>
							</div>
						</article> -->
					</section>
				</div>

			</div>
		</div>
	</div>
</div>
