
<div id="main">
<!-- Breadcrumb Section Start Here -->
	<div class="breadcrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Changing Families One Man at a Time</h1>
					<ul class="breadcrumb">
						<li class="active">
							Curriculum for Men
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- Breadcrumb Section End Here -->

	<div class="content-wrapper" id="page-info">
		<div class="container">
			<!-- Our Story Section Start Here -->
			<section class="our-story row">
				<div class="col-xs-12">
					<header class="story-heading section-header">
						<h2>What do men want? <strong>Freedom!</strong></h2>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-5">
							<section class="slider-wrap flex-slide flexslider">
								<ul class="slides">
								<li>
									<%= image_tag("photos/weapons_set.jpg") %>
								</li>
								<li>
									<%= image_tag("photos/family_devotions.jpg") %>
								</li>
								<li>
									<%= image_tag("photos/family_devotions_a.jpg") %>
								</li>
								</ul>
							</section>
						</div>
						<div class="col-xs-12 col-sm-7">
							<strong class="article-sammury">
								
									W.E.A.P.O.N.S.® Curriculum for men is a life-changing curriculum that is rooted in Christ-centered manhood, providing vital truth that transforms a man with training that sustains it. 
								
							</strong>
							<p>
								This Scripture-drenched course is founded on 20 years of ministry to men by Men’s Pastor, Scott Caesar and has a proven blueprint to revive a man’s soul, growing and maturing in Biblical manhood. The comprehensive, step-by-step videos are designed to assist the teacher and his core leaders to minister more effectively to their men through a system of challenging but practical training to equip, engage and teach men. The format consists of masculine-themed teaching, combined with man-life parables, interactive workshops with discussion/application times. It provides a sustainable system of accountable brotherhood that is built to last and a supported game plan of consistent Bible engagement for men.

							</p>
							<p>
								Thousands of men have realized the joy of being set free and living free as the Gospel becomes practical and attractive, creating a multiplying effect on men in the church and community.

							</p>
						</div>
					</div>
				</div>
			</section>
				<!--Testimonial Section Start Here -->
	<section class="donation-holder holders">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Hear What the Church Has to Say </h2>
					<div class="col-xs-12 col-md-12">
						<div class="flexslider">
						  <ul class="slides">
						    <li>
						    	<div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										[The W.E.A.P.O.N.S. curriculum] really encouraged us to rally behind our pastor and pray for him. It showed our men to follow God's leadership and authority in our life and how to unite as one for a common purpose - God. After this weekend’s workshop the men re-united and came together setting aside their differences. It really made a difference. 
									</p>
									<footer>
										<span>Brandon Dawson</span>
										<cite>House on the Rock, Far Rockaway, NY</cite>
									</footer>
								</blockquote>
								</div>
						    </li>
						    <li>
						      <div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										"The [W.E.A.P.O.N.S.] intensive program was very informative and refreshing in that it presented a simple and sustainable strategy for enhancing the effectiveness of any men's ministry and for developing lay leaders through the W.E.A.P.O.N.S curriculum. It's a must have in every men's ministry toolkit." 
									</p>
									<footer>
										<span>Pastor Corey Johnson</span>
										<cite>Shelter Rock Church, Manhasset, NY</cite>
									</footer>
								</blockquote>
								</div>
						    </li>
						    <li>
						      <div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										I strongly recommend the W.E.A.P.O.N.S Curriculum to every church and encourage the leadership to get to know Pastor Scott Caesar and his MDN Coaches.  They will help your Men’s Ministry reach new heights…Whether you are a new believer or a veteran Christian, a young adult or an older adult, the “W.E.A.P.O.N.S. Curriculum” can help you begin your journey on how to become more knowledgeable in being the man that God has created you to be.
									</p>
									<footer>
										<span>Samuel Baez, Men's Leader</span>
										<cite>Assembly of God, Center Moriches, NY</cite>
									</footer>
								</blockquote>
								</div>
						    </li>
						    <li>
						      <div class="testimonial-content">
						    	<div class="img-circle photo-frame">
						    		<%= image_tag("img-testimonial.jpg", class: "img-circle") %>
						    	</div>
						      	<blockquote>
									<p> <i class="fa fa-quote-left quote-mark"></i>
										The Saturday Men’s Discipleship Intensive Training...was very informative, engaging  and well attended. It’s wonderful to see the many men from different Christian denominations participate. The exploratory presentation of the materials were clear, meaningful and comprehensible. Pastors whose Churches embrace this material lay the ground work for men using serious bible based materials which connects them with their God and fellow brothers, which promotes spiritual wellness in our church communities.
									</p>
									<footer>
										<span>Victor Rubianes, Men's Facilitator</span>
										<cite>Crossway Church and Christian Center</cite>
									</footer>
								</blockquote>
								</div>
						    </li>

						  </ul>
					</div>
					<!-- End Flex -->
				</div>
			</div>
		</div>
		</div>
	</section>
	<!--Testimonial Section End Here -->
			<!-- Our Story Section Start Here -->
			<!-- What We Do Section Start Here-->
			<section class="our-works row anim-section">
				<div class="col-xs-12">
					<header class="work-block-heading section-header">
						<h2>What we do? <strong>See Our Works</strong></h2>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="thumbnail zoom">
								<h3>Personal Funds</h3>
								<a href="blog-full-width.html" class="img-thumb">
									<figure>
									<img src="assets/img/img-slide-01.jpg" alt="">
									</figure>
									</a>
								<p>
									Viverra scelerisque duis semper pulvinar in risus ac bibendum aenean hendrerit pharetra
								</p>
								<p>
									<a href="blog-full-width.html" class="btn btn-default btn-sm" role="button">READ MORE</a>
								</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="thumbnail zoom">
								<h3>Creative Events</h3>
								<a href="blog-full-width.html" class="img-thumb">
									<figure>
									<img src="assets/img/img-slide-02.jpg" alt="">
									</figure>
									</a>
								<p>
									Ulvinar scelerisque duis semper pulvinar in ris ac bibendum aenean hendrerit sceleri sque pharetra
								</p>
								<p>
									<a href="blog-full-width.html" class="btn btn-default btn-sm" role="button">READ MORE</a>
								</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="thumbnail zoom">
								<h3>Sponsorships</h3>
								<a href="blog-full-width.html" class="img-thumb">
									<figure>
									<img src="assets/img/img-slide-05.jpg" alt="">
									</figure>
									</a>
								<p>
									Scelerisque duis semper pulvinar in rishoac bibendum aenean hendrerit sceleri sque pharetra pulvinar aenean hendrerit
								</p>
								<p>
									<a href="blog-full-width.html" class="btn btn-default btn-sm" role="button">READ MORE</a>
								</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="thumbnail">
								<h3>Investors</h3>
								<a href="blog-full-width.html" class="img-thumb">
									<figure>
									<img src="assets/img/img-slide-03.jpg" alt="">
									</figure>
									</a>
								<p>
									Viverra scelerisque duis semper pulvinar in risus ac bibendum aenean hendrerit pharetra
								</p>
								<p>
									<a href="blog-full-width.html" class="btn btn-default btn-sm" role="button">READ MORE</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- What We Do Section Start Here-->
		</div>

		<!-- Helping Section Start here-->
		<section class="helping-child parallax">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-5">
						<h2 class="h1">Helping child in <strong class="border-none">Africa</strong></h2>
						<p>orem ipsum dolor sit amet consectetur adipiscing elit ellentesque egestas nisl at dui tempus uis imperdiet purus fringilla. consectetur adipiscing elit tempus.</p>
						<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-theme">Donate now</a>
					</div>
				</div>
			</div>
		</section>
		<!-- Helping Section Start here-->

		<!-- Our Team Section Start Here -->
		<div class="container">
			<div class="our-team text-center row">
				<div class="col-xs-12">
					<header class="team-info section-header">
						<h2>We are Real. <strong class="border-none">Meet the Team</strong></h2>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member1.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>Jhony Waker</h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member2.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>Tony Vedvik</h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member3.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>John Doe </h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member4.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>Bryant Cranford</h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Team Section Start Here -->
	</div>
</div>
<!-- site content ends -->
