<%= simple_form_for(@resource, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>

<!-- Tabs to guide to the right kind of resource -->
	<ul class="nav nav-tabs">
	  <li><a data-toggle="tab" href="#menu1">Video Link</a></li>
	  <li><a data-toggle="tab" href="#menu2">File Attachment</a></li>
	</ul>
	<div class="tab-content">
	  <div id="menu1" class="tab-pane fade">
	  	<h3>Provide a Video URL:</h3>
	  	<label>Provide the full iframe embed code of the Vimeo or YouTube link.</label>
	    <%= f.input :video_url, label: "Vimeo iFrame Code/URL" %>
	  </div>
	  <div id="menu2" class="tab-pane fade">
	  	<h3>Add Attachments:</h3>
		<label>Add one or more attachments. Each will have it's own download button on the Resources page.</label>
	    <%= f.file_field :attachments, multiple: true %></br>
	    <label>Add an image that represents the resource(s) being posted. The image will be resised to 850px x 360px. Your original should be that size or greater.</label>
	    <%= f.file_field :preview %>
        
	    </br>
	    <% if @resource.attachments? %>
	    <h3>Current Attachments:</h3>
	    <label>Note: Removing one attachment will remove all attachments in this resource.</label>
	    <table>
		  	<% @resource.attachments.each do |attachment| %>
		  	    <tr>
		  	    	<td><%= File.basename(attachment.path) %> </td><td><%= f.check_box :remove_attachments %> Remove Attachment </td>
		  	    </tr>
			<% end %>
		</table>
		<% end %>
		
	  </div>
	</div>
<!-- Tabs end -->
  </div>
	<div class="form-actions">
      <%= f.button :submit %>
    </div>
  
<% end %>
