<p id="notice"><%= notice %></p>

<div class="cause-page content-wrapper" id="page-info">
    <div class="container">
        <div class="anim-section">
          <div class="row">
            <div class="col-xs-12 col-sm-9 left-block event_page">
            <% if @resources.empty? %>
              <div class="event_descriptions">
                <p>There are no resources currently available</p>
              </div>
            <% end %>
            <% @resources.each do |resource| %>
                <div class="event_heading clearfix">
                  <div class="event_detail">
                    <% unless resource.video_url.empty? %>
                      <div class="video  ">
                        <%= resource.video_url.html_safe %>
                      </div>
                    <% else %>
                      <figure>
                        <!-- Image aspect ratio should be 850 x 360 -->
                        <%= image_tag(resource.preview.url) %>
                      </figure>
                    <% end %>
                  </div> 

                  <h2><a href="#"><%= resource.title %></a></h2>         
                  <div class="event_descriptions">
                    <p><%= resource.description %></p> 
                    <% unless resource.attachments.empty? %>     
                      <% resource.attachments.each do |attachment| %>
                        <a href="<%= attachment.url %>" class="btn btn-default" download="<%= File.basename(attachment.path) %>" >Download</a> <%= File.basename(attachment.path) %></br></br>
                        
                      <% end %>
                    <% end %>
                  </div> 
                <% if user_signed_in? %>
                  <%= link_to 'Show', resource %>
                  <%= link_to 'Edit', edit_resource_path(resource) %>
                  <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                </div> 
            <% end %> 
          </br>
            <% if user_signed_in? %>
              <%= link_to 'New Resource', new_resource_path %>
            <% end %>  
            </div> 
          </div>
        </div>
    </div>
</div>


