<p id="notice"><%= notice %></p>

<h1>Listing Resources</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>ID</th>
      <th>Priority</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="resource-sortable">
    <% if @resources.nil? %>
      <p>There are currently no resources</p>
    <% else %>
      <% @resources.prioritized.each do |resource| %>
        <tr class="sortable-row"  data-id="<%= resource.id %>">
          <td><%= resource.title %></td>
          <td><%= resource.description %></td>
          <td><%= resource.id %></td>
          <td><%= resource.priority %></td>
          <td><%= link_to 'Show', resource %></td>
          <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
          <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
