<p id="notice"><%= notice %></p>

<h1>MDN Affiliated Churches</h1>

<div class="row">
	<div class="col-xs-1"></div>
    <div class="col-xs-10">
		<table class="table table-striped">
		  <tbody class="sortable">
		    <% @affiliates.each do |affiliate| %>
		      <tr class="sortable-row" data-id="<%= affiliate.id %>">
		        <td><%= affiliate.name %></td>
		        <td><%= affiliate.address1 %></td>
		        <td><%= affiliate.address2 %></td>
		        <td><%= affiliate.city %></td>
		        <td><%= affiliate.state %></td>
		        <td><%= affiliate.zipcode %></td>
		        <td><%= affiliate.pastor %></td>
		        <td><%= affiliate.denomination %></td>
		        <td><%= link_to 'Show', affiliate %></td>
		        <td><%= link_to 'Edit', edit_affiliate_path(affiliate) %></td>
		        <td><%= link_to 'Destroy', affiliate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<%= link_to 'Add Church', new_affiliate_path %>
	    </br>
	    </br>
    </div>
    <div class="col-xs-1"></div>
</div>