<li data-index="rs-72" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="/dbc2017"   data-thumb=<%= image_tag "slider/100x50_2b75b-slider_background.jpg" %> data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<%= image_tag "slider/2b75b-slider_background.jpg", alt: "banner", data: {bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat", bgparallax: "off", class: "rev-slidebg" } %>
		<!-- LAYERS -->

		<!-- LAYER NR. 27 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-72-layer-1" 
			 data-x="['left','left','left','left']" data-hoffset="['411','311','219','127']" 
			 data-y="['top','top','top','top']" data-voffset="['96','104','126','88']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;"><%= image_tag "slider/e53a6-title_text.gif", alt: "", data: { ww: "['414px','414px','327px','224px']", hh: "['363px','363px','287px','197px']" } %> </div>

		<!-- LAYER NR. 28 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-72-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['68','49','30','23']" 
			 data-y="['top','top','top','top']" data-voffset="['34','38','28','18']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;"><%= image_tag "slider/d5a5c-MDN_LOGO_--_BLUE-GRAD-2017.gif", alt: "", data: { ww: "['194px','170px','170px','133px']", hh: "['73px','64px','64px','50px']" } %> </div>

		<!-- LAYER NR. 29 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-72-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['940','777','541','298']" 
			 data-y="['top','top','top','top']" data-voffset="['32','36','30','20']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7;"><%= image_tag "slider/e73fc-DBC_Logo_2015_BLUE.gif", alt: "", data: { ww: "['229px','204px','204px','158px']", hh: "['65px','58px','58px','45px']" } %> </div>

		<!-- LAYER NR. 30 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-72-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['284','184','140','49']" 
			 data-y="['top','top','top','top']" data-voffset="['501','501','446','301']" 
						data-fontsize="['40','40','28','22']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":990,"speed":1030,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8; white-space: nowrap; font-size: 40px; line-height: 22px; font-weight: 900; color: rgba(0, 11, 99, 1.00);font-family:Lato;">GET THE AUDIO ACCESS CARD HERE </div>
	</li>