<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @mannerism.quote %>
</p>

<p>
  <strong>Author:</strong>
  <%= @mannerism.author %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @mannerism.priority %>
</p>

<%= link_to 'Edit', edit_mannerism_path(@mannerism) %> |
<%= link_to 'Back', mannerisms_path %>
